<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FacturacionDB" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FacturacionDB.mdf;Integrated Security=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" 
             type="System.Diagnostics.TextWriterTraceListener" 
             initializeData="Facturacion.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="DefaultIVA" value="10.00" />
    <add key="CompanyName" value="Mi Empresa S.A." />
    <add key="CompanyAddress" value="Av. Principal 123, Ciudad" />
    <add key="CompanyPhone" value="+593 2 1234567" />
    <add key="CompanyEmail" value="info@miempresa.com" />
    <add key="InvoiceLogoPath" value="Resources\logo.png" />
  </appSettings>
</configuration>